<table>
  <thead>
    <tr>
      <th width="200">username</th>
      <th width="200">audioboo(m) URL</th>
      <th width="200">boos</th>
      <th width="200">feed page</th>
    </tr>
  </thead>
  <tbody>
  	 <% @users.each do |user| %>
  	 <tr>
  	 	<td><%= link_to user.username, user_feed_items_path(user) %></td>
  	 	<td><%= link_to user.feed, user.feed %></td>
  	 	<td id="feed_items_<%= user.uid %>"><%= user.feed_items.count %></td>
  	 	<td><%= link_to 'feed', user_feed_items_path(user, format: :rss) unless user.feed_items.empty? %></td>
  	 </tr>
  	 <% end %>
  </tbody>
 </table>
