<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>badaboom</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	 <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1 id="status">badaboom!</h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "home", root_path %></li>
        </ul>
    </div>
  </nav>
    <div class="row">
      <div class="large-8 columns">
        <%= yield %>
      </div>
      <div class="large-4 columns">
        <h3 class="subheader">death to audioboom</h3>
        <p>We use pusher to update the front end! Current status:
        <span id="connection_state" class="subheader">&dash;</span></p>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>